---
layout: default
title: GitLab Continuous Integration
suppress_header: true
extra_css:
  - gitlab-ci.css
extra_js:
  - gitlab-ci.js
---

<div class="wrapper">
  <div class="image-title">
    <div class="color-bg">
      <div>
        <h1>GitLab Continuous Integration</h1>
        <h3 id="ci-subt">Let GitLab CI test, build, deploy your code</h3>
      </div>
      <div>
        <a href="https://about.gitlab.com/downloads/" id="download">Download GitLab</a>
        <a href="https://ci.gitlab.com/user_sessions/new" id="signin">Sign in to ci.gitlab.com</a>
      </div>
    </div>
  </div>

<div class="sub-wrapper">
  <div class="container">
    <div class="row advantages">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-10">
        <h2>What Are The Advantages?</h2>
        <ul>
          <li><b>Easy to install</b> since it's included in [GitLab Omnibus packages](https://about.gitlab.com/downloads/) or use it for free on <a href="https://ci.gitlab.com/">ci.gitlab.com</a></li>
          <li><b>Beautiful</b> interface with a clear menu structure</li>
          <li><b>Scalable</b> as tests run distributed on separate machines of which you can add as many as you want</li>
          <li><b>Faster results</b> because each build can be split in multiple jobs that run in parallel on multiple machines</li>
          <li><b>Free and open source</b> as all CI code is MIT Expat licensed</li>
        </ul>
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>

    <hr class="divider" />

    <div class="row more-features">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-md-5 hidden-xs hidden-sm">
        <div class="gitlab-ci"></div>
      </div>
      <div class="col-xs-10 col-md-5">
        <h2>Features</h2>
        <ul>
          <li><b>Multi-platform</b> since you can executes builds on Unix, Windows and OSX.
          <li><b>Multi-language</b> because builds scripts are command line driven and work with Java, PHP, Ruby, C and any other language.
          <li><b>Stable</b> because the GitLab CI is on a different machine that the ones that perform builds.</li>
          <li><b>Parallel builds</b> by splitting a build over multiple machines so it executes quickly.</li>
          <li><b>Realtime logging</b> a link in the merge request takes you to the current build log that updates dynamically.</li>
          <li><b>Continuous Delivery (CD)</b> and deployment are easy with multiple types of jobs, environmental variables and the <a href="http://doc.gitlab.com/ci/deployment/README.html"dpl gem</a>.
        </ul>
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>

    <hr class="divider" />

    <div class="row integration">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-6">
        <h2>Fully integrated with GitLab</h2>
        <ul>
          <li><b>Fully integrated</b> with GitLab.</li>
          <li><b>Single sign-on</b> you can use the same login and password as on your GitLab instance.</li>
          <li><b>Quick project setup</b> since you can addd them with a single click, all hooks are setup automatically via the GitLab API.</li>
          <li><b>Merge request integration</b> see the status of each build within the Merge Request in GitLab.</li>
        </ul>
      </div>
      <div class="hidden-xs hidden-sm col-md-4">
        <img src="/images/logo.png" class="gitlab-raccoon-dog-image hidden-xs" alt="" />
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>

    <hr class="divider" />

    <div class="row architecture">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-5">
        <h2>Architecture</h2>
        <div class="architecture-text">
          <p><b>GitLab CI</b> is a web application with an API that stores its state in a database. It manages projects/builds and provides a nice user interface. It uses the GitLab application API to authenticate its users.</p>
          <p>GitLab Runner is an application which processes builds. It can be deployed separately and works with GitLab CI through an API.</p>
          <p>In order to run tests, you need at least 1 <b>GitLab CI</b> instance and 1 <b>GitLab Runner</b>.
          One runner can run one or more jobs at the same time.
          Each project in GitLab CI can have one or multiple jobs.
          All the jobs for one commit run in parallel so your tests results are available sooner.
          These jobs can run in parallel on the same runner and/or on different runners.
          Runners and jobs can be labeled so that jobs run on runners that can process them (the right machine, OS and configuration).
          We recommend to not install runners the same instance as GitLab CI so that running rogue code and jobs can't affect the security of GitLab CI itself.
          GitLab CI can be run on the same instance as GitLab or on a separate instance.
          </p>
        </div>
      </div>
      <div class="hidden-xs hidden-sm col-md-6">
          <img src="/images/ci/arch-1.jpg" class="gitlab-arch hidden-xs" alt="" />
      </div>
    </div>

    <hr class="divider" id="gitlab-runner"  />

    <div class="row gitlab-runner">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-10 col-md-10">
        <h2 id=gitlab-runner>GitLab Runner</h2>
        <p>To perform the actual build, you need to install GitLab Runner.</p>
        <ul>
          <li><a href="https://gitlab.com/gitlab-org/gitlab-ci-multi-runner"><b>Official GitLab Runner in Go with Docker support for Linux, OSX and Windows</b></a> (recommended)</li>
          <li><a href="https://gitlab.com/gitlab-org/omnibus-gitlab-runner/blob/master/doc/install/README.md">GitLab Runner Omnibus package for Linux</a> (deprecated)</li>
          <li><a href="https://gitlab.com/gitlab-org/gitlab-ci-runner">GitLab Runner source code for Linux</a> (deprecated)</li>
          <li><a href="https://github.com/virtualmarc/gitlab-ci-runner-win">Unofficial GitLab Runner for Windows</a></li>
          <li><a href="https://github.com/nafg/gitlab-ci-runner-scala">Unofficial GitLab Runner for Scala/Java</a></li>
          <li><a href="https://www.npmjs.com/package/gcr">Unofficial GitLab Runner for Node</a></li>
        </ul>
      <div class="col-xs-1 col-md-2"></div>
      </div>
    </div>

    <hr class="divider" />

    <div class="row requirements">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <i class="fa fa-linux"></i>
      </div>
      <div class="col-xs-10 col-md-7">
        <h2>Requirements</h2>
        <h4>Tests can be run on many different platforms</h4>
        <p>
          Tests can be run on Unix, Windows, OSX, the JVM and more.
          The tests are performed with GitLab Runner, see that section for all the options.
        </p>
        <h4>GitLab CI itself is officially supported on</h4>
        <ul>
          <li>Ubuntu</li>
          <li>Debian</li>
          <li>CentOS</li>
          <li>Red Hat Enterprise Linux</li>
          <li>Scientific Linux</li>
          <li>Oracle Linux</li>
        </ul>
        <h4>GitLab CI hardware requirements</h4>
        <ul>
          <li>1GB of memory or more is recommended, 512MB works</li>
          <li>2 CPU cores or more are recommended, 1 CPU core works</li>
          <li>100MB of disk space</li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-1"></div>
    </div>

    <hr class="divider" />

    <div class="row installation">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-md-3 hidden-xs hidden-sm">
        <i class="fa fa-download 5x"></i>
      </div>
      <div class="col-xs-10 col-md-7">
        <h2>Installation</h2>
        <ul>
          <li>
            <a href="https://about.gitlab.com/downloads/"><b>Omnibus packages (recommended)</b></a> inlude GitLab as well as GitLab CI,
            you have to give GitLab CI its own FQDN (ci.example.com) in order to activate it,
            for this and more please see the <a href="https://gitlab.com/gitlab-org/omnibus-gitlab/blob/master/doc/gitlab-ci/README.md#getting-started">configuration instructions</a>
          </li>
          <li><a href="https://gitlab.com/gitlab-org/gitlab-ci/blob/master/doc/install/installation.md">Manual installation guide</a></li>
          <li><a href="https://github.com/sameersbn/docker-gitlab-ci">Unofficial Docker Image by Sameer Naik</a></li>
          <li><a href="https://registry.hub.docker.com/u/anapsix/gitlab-ci/">Unofficial Docker Image by Anastas Dancha</a>
          <li><a href="https://gitlab.com/gitlab-org/gitlab-development-kit">GitLab Development Kit</a> is recommended for development work</li>
          <li>Use it for free on <a href="https://ci.gitlab.com/">ci.gitlab.com</a> if you have a GitLab.com account (you do need to bring your own runner)</li>
        </ul>
      </div>
      <div class="col-xs-1 col-md-1"></div>
    </div>

    <hr class="divider" />

    <div class="row links">
      <div class="col-xs-1 col-md-1"></div>
      <div class="col-xs-11 col-md-6">
        <h2>Help and More Information</h2>
        <ul>
          <li>Please see <a href="https://about.gitlab.com/getting-help/">Getting help for GitLab</a> if you have questions.</li>
          <li>Propose and discuss new features of CI in the <a href="http://feedback.gitlab.com/forums/176466-general/category/64310-gitlab-ci">feature request forum</a>.</li>
          <li>The <a href="http://doc.gitlab.com/ci/">documentation</a> can be found on the doc site.</li>
          <li>Since version 7.8 GitLab CE/EE and GitLab CI are released in sync with the same version number.</li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-4">
        <i class="fa fa-code 5x hidden-xs hidden-sm"></i>
      </div>
    </div>
  </div>
</div>